[Unit]
Description=Tekipaki OS Initialization Service
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/tekipaki-init.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
